
.inactive {
  text-decoration: line-through;
}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.mat-raised-button {
  margin: 8px;
}


.mat-mini-fab {
  margin: 8px;
}

.mat-flat-button {
  margin: 8px;
}

.main-section {
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: 800px;
  position: relative;
  top: 10px;
  background-color: #ffffff;
  padding: 40px;
}



.container {
  padding: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.green {
  background-color: #00e676 !important;
}

.mat-form-field {
  margin: 10px;
}


#recipeCard {
  height: 200px;
  overflow: scroll;
  background-color: #fafafa;
  margin-bottom: 10px;
}


#playerScore {
  float: left;
}

#robofoodieScore {
  float: right;
}

#scoreCard {
  height: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555555;
}

.mat-card-subtitle {
  color: #000000;
}

.mat-card-content {
  text-align: center;
}

#guessContainer {
  text-align: center;
}


h4 {
  color: #555555;
}

.mat-spinner {
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 30px;
}
