<mat-card>
  <mat-card-content>
    <button mat-stroked-button color="primary" (click)="loadRecipe()">Next Recipe</button>
    <h2>Ingredients:</h2>
    <section *ngFor="let ingredient of ingredients">
      <div inactive>{{ingredient}}</div>
    </section>
    <section>
      <h3>
        Predicted cuisine: {{ predictedCuisine }}, {{ certainty | percent : '1.1-1' }} confidence
      </h3>
      <h3>
        Actual cuisine: {{ actualCuisine }}
      </h3>
    </section>
  </mat-card-content>
</mat-card>


<router-outlet></router-outlet>
