<div class="container">
    <mat-card id="scoreCard">
      <div id="playerScore">Player: {{playerScore}} / {{totalTries}}</div>
      <div id="robofoodieScore">Robofoodie: {{robofoodieScore}} / {{totalTries}}</div>
    </mat-card>

    <mat-card #recipeCard id="recipeCard">
      <mat-card-title-group *ngIf="modelLoaded">
        <mat-card-subtitle>Guess the cuisine of this mystery recipe!</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content #recipeCardContent>
          <h3 *ngIf="!modelLoaded">{{loadingMessage[loadingMessageIndex]}}</h3>
          <mat-spinner *ngIf="!modelLoaded"></mat-spinner>
          <mat-list dense>
          <mat-list-item *ngFor="let ingredient of ingredients">{{ingredient}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>


    <div id="guessContainer">
          <!-- <h1>Robofoodie Cuisine Predictor</h1> -->
              <mat-form-field>
                <mat-select placeholder="Player's Guess" [(value)]="userGuess" [disabled]="showPrediction">
                  <mat-option *ngFor="let cuisine of cuisines" [value]="cuisine.value">
                    {{cuisine.displayValue}}
                  </mat-option>
                </mat-select>
                <mat-hint><span color="primary">{{userGuessResult}}</span></mat-hint>
              </mat-form-field>
              <button mat-mini-fab
                [ngClass]="{green:actualCuisine==userGuess && showPrediction}"
                color="primary"
                *ngIf="userGuess"
                [disabled]="showPrediction || !userGuess"
                (click)="predict(encodedRecipe)">
                  <i class="material-icons">{{ userGuessIcon }}</i>
              </button>
            <div *ngIf="showPrediction" id="robofoodieGuess">
              <mat-form-field>
                <mat-select placeholder="Robofoodie's Guess" [(value)]="predictedCuisine" [disabled]="showPrediction">
                  <mat-option *ngFor="let cuisine of cuisines" [value]="cuisine.value">
                    {{cuisine.displayValue}}
                  </mat-option>
                </mat-select>
                <mat-hint><span color="primary">({{certainty | percent}} sure)</span></mat-hint>
              </mat-form-field>
              <button mat-mini-fab
                [ngClass]="{green:actualCuisine==predictedCuisine && showPrediction}"
                color="primary"
                *ngIf="userGuess"
                [disabled]="showPrediction || !userGuess">
                  <i class="material-icons">{{ roboGuessIcon }}</i>
              </button>
              </div>

              <div *ngIf="showPrediction">
                <h4>
                  Actual cuisine:
                </h4>
                <h2>
                   {{ actualCuisine | formatCuisines }}
                </h2>
                <button *ngIf="showPrediction" mat-raised-button color="primary" (click)="loadRecipe()">Next Recipe</button>
              </div>
        </div>
</div>

<router-outlet></router-outlet>
